
body{
    background-color: #879587;
}
div {
    margin: auto;
    width: 400px;
    margin-top: 100px;
  }
  table {
    border-style: none;
    border-collapse: collapse;
  }
  th {
    background-color: #999999;
    padding: 10px;
    border: none;
    font-size: 16px;
  }
  td {
    border: none;
  }
  input[type="text"] {
    padding: 10px;
    width: 380px;
    border-style: solid;
    border-color: #6d6e6a;
    font-size: 16px;
  }
  input[type="text"]:disabled {
    background-color: rgb(108, 94, 94);
  }
  button {
    width: 100%;
    height: 40px;
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  