body {
  margin: 1.5em 5em;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
}

.hero-img {
  position: absolute;
  top: 0;
  left: unset;
  right: 0;
  background: url(../images/flyer.png);
  background-size: cover;
  background-position-x: 50%;
  width: 50%;
  height: 42em;
  z-index: -1;
}

.logo {
  color: white;
  font-weight: bold;
}
.logo span {
  color: blue;
}

nav {
  display: block;
  position: unset;
  right: 0;
  top: auto;
  height: auto;
  width: auto;
  z-index: 999;
  text-transform: uppercase;
  background: none;
}
nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul a {
  color: white;
  padding: 0.5em 1.5em;
  display: block;
  font-size: 0.9rem;
}
nav ul a:hover {
  background: none;
  text-decoration: underline;
}

#more {display: none;}

header {
  display: flex;
  justify-content: space-between;
}
header svg {
  width: 3em;
  margin-top: -0.6em;
  cursor: pointer;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  margin-top: 2em;
  line-height: 3.3rem;
}

.subhead {
  font-size: 1.4rem;
}

section.hero {
  color: black;
  height: auto;
  width: 40%;
  margin-bottom: 30em;
}

.more-info img {
  width: 100%;
}
.more-info .title {
  font-weight: bold;
  font-size: 2rem;
}
.more-info .desc {
  line-height: 1.5rem;
}
.more-info .feature {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0;
  margin-bottom: 8em;
}
.more-info .feature img {
  width: 25em;
  margin-left: 3em;
}
.more-info .feature .content {
  text-align: right;
  width: 25em;
}
.more-info .feature.left {
  grid-template-areas: "left right";
}
.more-info .feature.left img {
  grid-area: left;
  margin-right: 3em;
}
.more-info .feature.left .content {
  text-align: left;
  width: 25em;
  justify-self: left;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #3647ce;
  font-size: 16px;
  color: white;
}
table tbody tr {
  height: 80px;
  border-bottom: 1px solid #000000;
  border-bottom-width: 2px ;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}

.container{
  margin-top: 100px;
  margin-left: 450px;
  position: absolute;
  padding: 20px 25px;
  width: 300px;

  background-color: rgba(0, 0, 0, 0.521);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.158);
}
.container h1{
  text-align: left;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-bottom: 4px solid #ffffff;
}
.container label{
  text-align: left;
  color: #ffffff;
  margin-bottom: 10px;
}
.container form input{
  width: calc(100% - 20px);
  padding: 8px 10px;
  margin-bottom: 100px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #2b3eea;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.container form button{
  width: 100%;
  height: 40px;
  padding: 5px 0;
  border: none;
  font-size: 18px;
  color: #ffffff;
  border-radius: 20px;
}

/*# sourceMappingURL=main.css.map */